// Colores principales.

$bg-color:#161414;
$main-color:#ca2323;
$secondary-color:#e06666;
$boxes-color:#111;

// Font weight.

$font-1st:900;
$font-2nd:800;
$font-3rd:600;
$font-4th:400;
$font-5th:100;